In [1]:
import nltk 
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
import pandas as pd
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/annalenastreichert/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [2]:
df = pd.read_csv("WomensClothing.csv", sep=",", index_col=0)

In [3]:
df.head()
df['ReviewText']=df['ReviewText'].apply(str)

In [4]:
#check if they are any missung values
for col in df.columns:
    print(col, df[col].isnull().sum())

ClothingID 0
Age 0
Title 3810
ReviewText 0
Rating 0
RecommendedIND 0
PositiveFeedbackCount 0
DivisionName 14
DepartmentName 14
ClassName 14

In [5]:
#view table with most imporant values
rws = df.loc[:, ['Age', 'Title', 'ReviewText', 'Rating' , 'RecommendedIND', 'DepartmentName', 'ClassName']]
rws.head()

,Age,Title,ReviewText,Rating,RecommendedIND,DepartmentName,ClassName
0,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,Intimate,Intimates
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,Dresses,Dresses
2,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,Dresses,Dresses
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,Tops,Blouses

In [6]:
#only rows for recommended items
rws = rws[rws['RecommendedIND'] != 0]
rws.head()

,Age,Title,ReviewText,Rating,RecommendedIND,DepartmentName,ClassName
0,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,Intimate,Intimates
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,Dresses,Dresses
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,Tops,Blouses
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,Tops,Knits

In [7]:
#only rows where rating is 5
rws = rws[rws.Rating == 5]
rws

,Age,Title,ReviewText,Rating,RecommendedIND,DepartmentName,ClassName
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,Dresses,Dresses
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,Tops,Blouses
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,Tops,Knits
8,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,Dresses,Dresses
...,...,...,...,...,...,...,...
23474,32,Much better in person!,"Yes, this is a great dress! i wasn't sure abou...",5,1,Dresses,Dresses
23479,42,What a fun piece!,So i wasn't sure about ordering this skirt bec...,5,1,Bottoms,Skirts
23480,35,NaN,nan,5,1,Tops,Knits
23481,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,Dresses,Dresses
23485,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,Dresses,Dresses

In [9]:
#delete rows for intimates and lounge wear
rws = rws[rws.ClassName != "Intimates"]
rws = rws[rws.ClassName != "Lounge"]
rws = rws[rws.ClassName != "Swim"]
rws = rws[rws.ClassName != "Chemises"]
rws = rws[rws.ClassName != "Trend"]
rws = rws[rws.ClassName != "Sleep"]
rws = rws[rws.ClassName != "Legwear"]
rws = rws[rws.DepartmentName != "Intimate"]
rws

,Age,Title,ReviewText,Rating,RecommendedIND,DepartmentName,ClassName
1,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,Dresses,Dresses
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,Tops,Blouses
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,Tops,Knits
8,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,Dresses,Dresses
...,...,...,...,...,...,...,...
23474,32,Much better in person!,"Yes, this is a great dress! i wasn't sure abou...",5,1,Dresses,Dresses
23479,42,What a fun piece!,So i wasn't sure about ordering this skirt bec...,5,1,Bottoms,Skirts
23480,35,NaN,nan,5,1,Tops,Knits
23481,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,Dresses,Dresses
23485,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,Dresses,Dresses

In [10]:
#drop rows with nan values
rws.dropna(inplace=True)
rws

,Age,Title,ReviewText,Rating,RecommendedIND,DepartmentName,ClassName
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,Tops,Blouses
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,Tops,Knits
8,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,Dresses,Dresses
9,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,Dresses,Dresses
...,...,...,...,...,...,...,...
23473,29,Perfect dress,Great quality and extremely flattering. bonus ...,5,1,Dresses,Dresses
23474,32,Much better in person!,"Yes, this is a great dress! i wasn't sure abou...",5,1,Dresses,Dresses
23479,42,What a fun piece!,So i wasn't sure about ordering this skirt bec...,5,1,Bottoms,Skirts
23481,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,Dresses,Dresses
23485,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,Dresses,Dresses

In [11]:
#delete columns rating and recommended 
rws = rws.loc[:, ['Age', 'Title', 'ReviewText','DepartmentName' ,'ClassName']]
rws

,Age,Title,ReviewText,DepartmentName,ClassName
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",Bottoms,Pants
4,47,Flattering shirt,This shirt is very flattering to all due to th...,Tops,Blouses
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,Tops,Knits
8,24,Flattering,I love this dress. i usually get an xs but it ...,Dresses,Dresses
9,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",Dresses,Dresses
...,...,...,...,...,...
23473,29,Perfect dress,Great quality and extremely flattering. bonus ...,Dresses,Dresses
23474,32,Much better in person!,"Yes, this is a great dress! i wasn't sure abou...",Dresses,Dresses
23479,42,What a fun piece!,So i wasn't sure about ordering this skirt bec...,Bottoms,Skirts
23481,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,Dresses,Dresses
23485,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,Dresses,Dresses

In [12]:
#get adjectives by using pos tagger
def get_adjectives(row):
    text = word_tokenize(row["ReviewText"])
    tags = pos_tag(text)
    adjectives = ""
    previous = ""
    for tag in tags:
        if tag[1] == "JJ":
            adjectives = previous + tag[0] + ", "
            previous = adjectives
    return adjectives

In [13]:
#get nouns by using pos tagger
def get_nouns(row):
    text = word_tokenize(row["ReviewText"])
    tags = pos_tag(text)
    adjectives = ""
    previous = ""
    for tag in tags:
        if tag[1] == "NN":
            adjectives = previous + tag[0] + ", "
            previous = adjectives
    return adjectives

In [14]:
#replace fine gauge with thin sweater
def replace_fine(row):
    if row["ClassName"] == "Fine gauge":
        return "thin sweater"
    elif row["ClassName"] == "Outerwear":
        return "warm jacket"
    elif row["ClassName"] == "Blouses":
        return "blouse"
    elif row["ClassName"] == "Knits":
        return "knit sweater"
    elif row["ClassName"] == "Dresses":
        return "dress"
    elif row["ClassName"] == "Jackets":
        return "jacket"
    elif row["ClassName"] == "Skirts":
        return "skirt"
    elif row["ClassName"] == "Sweaters":
        return "sweater"
    elif row["ClassName"] == "Pants":
        return "pants"
    elif row["ClassName"] == "Jeans":
        return "jeans"
    elif row["ClassName"] == "Shorts":
        return "shorts"
    else:
        return row["ClassName"]

In [15]:
#add adjectives to column adjectives and replace fine gauge
rws['Adjectives'] = rws.apply(get_adjectives, axis=1)
rws['ClassName'] = rws.apply(replace_fine, axis=1)
rws.head()

,Age,Title,ReviewText,DepartmentName,ClassName,Adjectives
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",Bottoms,pants,"fabulous, great,"
4,47,Flattering shirt,This shirt is very flattering to all due to th...,Tops,blouse,"flattering, due, adjustable, perfect,"
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,Tops,knit sweater,"last, i, pale, gorgeous, little, hte, i,"
8,24,Flattering,I love this dress. i usually get an xs but it ...,Dresses,dress,"little, flattering, feminine, usual,"
9,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",Dresses,dress,"sure, xs, busty, s, tight, i, fabric,"

In [16]:
#add nouns to column nouns
rws['Nouns'] = rws.apply(get_nouns, axis=1)
rws.head()

,Age,Title,ReviewText,DepartmentName,ClassName,Adjectives,Nouns
3,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",Bottoms,pants,"fabulous, great,","jumpsuit, fun, flirty, time, i, nothing,"
4,47,Flattering shirt,This shirt is very flattering to all due to th...,Tops,blouse,"flattering, due, adjustable, perfect,","shirt, front, tie, length, cardigan, shirt,"
6,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,Tops,knit sweater,"last, i, pale, gorgeous, little, hte, i,","basket, hte, mintue, person, store, teh, darkl..."
8,24,Flattering,I love this dress. i usually get an xs but it ...,Dresses,dress,"little, flattering, feminine, usual,","dress, xs, snug, bust, size, retailer, flair, ..."
9,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",Dresses,dress,"sure, xs, busty, s, tight, i, fabric,","lbs, i, s, petite, length, i, regular, retaile..."

In [17]:
#get events by filtering nouns
def get_events(row):
    events = ""
    if ("party" in row["ReviewText"]):
        events += " party"
    if ("going out" in row["ReviewText"]):
        events += " going out"
    if ("bar" in row["Nouns"]):
        events += " bar"
    if ("drinks" in row["Nouns"]):
        events += " drinks"
    if "business" in row["Nouns"]:
        events += " business"
    if "work" in row["Nouns"]:
        events += " work"
    if "dinner" in row["Nouns"]:
        events += " dinner"
    if "date" in row["Nouns"]:
        events += " date"
    if "vacation" in row["Nouns"]:
        events += " vacation"
    if "holiday" in row["Nouns"]:
        events += " holiday"
    return events

In [18]:
#get season by filtering nouns
def get_seasons(row):
    seasons = ""
    if "summer" in row["Nouns"]:
        seasons += "summer"
    if "spring" in row["Nouns"]:
        seasons += " spring"
    if "winter" in row["Nouns"]:
        seasons += " winter"
    if "fall" in row["Nouns"]:
        seasons += "fall"
    if "autumn" in row["Nouns"]:
        seasons += " autumn"
    return seasons

In [19]:
#add events and season to columns
#rws['Events'] = rws.apply(get_events, axis=1)
rws['Seasons'] = rws.apply(get_seasons, axis=1)

In [20]:
#rws[rws['Events'].str.contains('vacation')]

In [21]:
rws[rws['Seasons'] == "summer"]

,Age,Title,ReviewText,DepartmentName,ClassName,Adjectives,Nouns,Seasons
134,65,You'll smile on a humid summer's day,This blouse is a perfect creation: perfect-wei...,Tops,blouse,"perfect, perfect-weight, many, many, easy, hot...","blouse, creation, cotton, color, fullness, bod...",summer
231,46,"Wonderful weight for summer, flattering",I tried these on on a whim because i liked the...,Bottoms,pants,"much, great, great, hot, subtle, vertical, fla...","whim, i, shirt, store, i, weight, alternative,...",summer
264,25,Amazing peach color!,I ordered this dress in both colors. the peach...,Dresses,dress,"beautiful, i,","dress, peach, color, person, dress, rehearsal,...",summer
273,36,Gorgeous,Bought both colors in xs and soooooo glad i di...,Dresses,dress,"gorgeous, nice, wear, loooooong,","xs, soooooo, glad, i, dress, color, quality, t...",summer
315,21,Beautiful top!,"Love this top! made with 100% cotton, a vintag...",Tops,blouse,"i, true, regular, petite, i, short, see, nude,...","top, %, cotton, vintage, look, top, winner, si...",summer
...,...,...,...,...,...,...,...,...
23358,43,Love this casual top,This is the perfect summer top! lightweight an...,Tops,blouse,"perfect, great, worn, loose, i, red, usual,","summer, top, lightweight, breezy, blue, one, i...",summer
23377,27,New summer staple,This is so pretty for summer. it is very light...,Bottoms,shorts,"lightweight, little, beautiful,","summer, color, brighter, i,",summer
23392,51,Better in person....,I would never have bought this top from the on...,Tops,blouse,"online, local, hot, cute, fresh, hot, lightwei...","top, photo, store, i, pink, gingham, check, su...",summer
23415,39,"Beautiful, unique piece",Love it! i am 125# and usually a size 2-4 or 2...,Bottoms,skirt,"2-4, 26-27, other, i, glad, normal, great, gre...","size, size, bit, day, i, fit, quality, office,...",summer
23446,36,Perfect summer tee,This tee is amazing. it's light weight and per...,Tops,knit sweater,"light, perfect, solid, i, other,","tee, weight, perfect, summer, heat, detail, cr...",summer

In [22]:
#drop title, review text and nouns column
rws = rws.loc[:, ['Age', 'ClassName' , 'DepartmentName', 'Adjectives', 'Nouns', 'Seasons']]
rws

,Age,ClassName,DepartmentName,Adjectives,Nouns,Seasons
3,50,pants,Bottoms,"fabulous, great,","jumpsuit, fun, flirty, time, i, nothing,",
4,47,blouse,Tops,"flattering, due, adjustable, perfect,","shirt, front, tie, length, cardigan, shirt,",
6,39,knit sweater,Tops,"last, i, pale, gorgeous, little, hte, i,","basket, hte, mintue, person, store, teh, darkl...",
8,24,dress,Dresses,"little, flattering, feminine, usual,","dress, xs, snug, bust, size, retailer, flair, ...",
9,34,dress,Dresses,"sure, xs, busty, s, tight, i, fabric,","lbs, i, s, petite, length, i, regular, retaile...",
...,...,...,...,...,...,...
23473,29,dress,Dresses,"flattering, pregnant, comfortable, frumpy, i, ...","quality, bonus, sale, dress, godsend, i, dress...",
23474,32,dress,Dresses,"great, sure, i, gray, good, i, worth, great, g...","dress, i, color, combination, i, color, risk, ...",
23479,42,skirt,Bottoms,"sure, i, glad, cheap, blaring, offensive, pale...","i, skirt, i, person, i, skirt, design, color, ...",
23481,34,dress,Dresses,"happy, great, easy, flattering,","dress, price, cut, color, combo,",
23485,52,dress,Dresses,"lovely, feminine, easy, recommend,","dress, platinum,",

In [23]:
#export clothing csv
rws.to_csv('Wom_Clothing.csv', index=False)